In [1]:
from crawler import Crawler

In [2]:
cr = Crawler

In [3]:
cr = cr()

In [4]:
prices = cr.getPrices()

https://fondosonline.com/Operations/Funds/GetFundsProducts?sortColumn=YearPercent&isAscending=false&PageSize=1000&searchFundName=&searchCurrency=-1&searchFocus=-1&searchStrategy=&searchHorizon=-1&searchProfile=-1&isActive=false&searchMinInvestment=&page=1
291 fondos scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFRTAR
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTRTFPB
852 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MRTAFCB
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTRTFPA
852 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MRTAFCA
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTRMIA
732 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONESTC
532 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMUSAB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMUSAA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRTAMA
855 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRTAMB
855 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFCOAA
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHCOBB
692 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHCOBA
719 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTRMIX
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONESTB
532 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDGLOB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONESTA
532 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDGLOA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSSCBAB
418 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONAARB
820 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONAARA
820 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GAPREMA
851 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSCPLB
751 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSCAPL
751 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXRFCOB
848 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXRFCOA
848 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSRTOB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSRTOA
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CCREIIB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CCREIIA
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TAVREDL
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDBRAA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAARGB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSSENGB
300 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAARGF
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSSRTTB
418 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHASIB
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHASIA
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALIACAP
798 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DELFEIB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DELFEIA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSDESB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALDIVEA
275 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSGSSII
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GAAPYMB
849 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BCRTAFB
804 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAPROB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTPESA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSPESB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAPROT
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALAHORB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFMMKB
864 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BCRTAFA
805 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CNXPOPA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONPPLB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDRTAB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSPESA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSSGSSI
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAPRFB
559 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTPESB
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RIGAHOR
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTAHORB
857 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIFIPRO
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDRTAA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALAHOR
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DESCREB
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CABPYMB
853 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIRTAFB
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTAHORA
857 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTRUSTB
847 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMAPRFA
551 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAHOB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMOPPB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDEMAP
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIRTAFA
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIAHORB
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CIFNFCB
651 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TORONTR
848 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIAHORA
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFRTPA

861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMOPPA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMPEUB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTPERA
561 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BCAHORA
804 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFAI
855 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFPYME
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CIFNFCA
633 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFAM
855 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAHOA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TAPYMES
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TAVELMX
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMPEUA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BZCAPFB
690 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMRF4B
500 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFPPLB
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GSSRFAB
418 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFPPLA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMRF4A
479 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJRTA4B
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFRNBL
728 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MGVRRAB
390 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTRTFIB
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALIRFI
756 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSAPEB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTRTFIA
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CPYMESB
832 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJRTA4A
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GGSSIII
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MGVRRAA
390 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSAPEA
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DFSRPEB
352 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SMIMLAT
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DFSRPEA
352 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CPYMESA
827 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ADREMIB
475 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DBSDMRB
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHARGA
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ADREMIA
475 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DBSDMRA
863 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALIARB
851 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONAPAB
821 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFPB
854 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFAB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=EMPARPY
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHPESO
802 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONAPAA
822 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFAA
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTAFPA
854 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMACRMB
264 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRVIIB
848 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMACRMA
264 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRVIIA
420 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RIGRENT
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALDIVEB
185 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIRTMXB
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QTOTALB
262 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCRTAPL
802 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALGLOB
754 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIRTMXA
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COINFRB
854 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCRTAPA
719 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHRCPA
222 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TORRTOB
164 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BLCRFPS
512 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BLCRFPA
512 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALESTA
259 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SCHPESA
204 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTESTB
829 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTESTA
829 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CAPYMEA
856 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRBIIA
730 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRBIIB
730 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTANAB
820 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALAHPLB
849 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALAHPLA
849 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CRTANAA
821 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CAPYMEB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QUAHDOB
216 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QUAHDOA
216 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALLRDLC
388 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHDTLC
380 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHDTLB
322 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIDOALB
229 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIDOALA

226 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QCAPITC
329 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFALEB
216 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALINCA
259 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALDOPLB
162 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALDOPLA
163 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SINCERC
289 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BAINGLB
803 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MILATMC
60 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDBRAB
118 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COAHDOA
47 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COAHDOB
47 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CBESIDA
46 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CBESIDB
8 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CSMCIIBAA
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CSMCIIBAB
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CABPYMA
50 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHRFDA
35 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COHRFDB
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FTSLFDN
721 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FTSLJDN
721 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMRFIDC
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMARTVC
117 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=LOCMARE
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXRFCOC
59 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXISRVC
60 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AAPLUSE
26 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXREPLE
https://fondosonline.com/Information/FundData/GetPriceData?ticker=LOCMARF
2 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXAFIXC
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXALMPE
34 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TORRTOA
61 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QUDEARA
17 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTPERB
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QTOTALA
61 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BAINGLA
804 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONRETO
775 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONRETB
775 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AAPLUSC
281 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AAPLUSA
282 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ANAHORB
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXAHORA
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MGRFUSB
368 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MGRFUSA
368 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MIPERFB
552 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TOTCREB
164 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TOTCREA
164 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDMM3B
387 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDMM3A
376 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMREFB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMREFA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ADCGLOB
261 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ADCGLOA
261 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSBALB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSRPEB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSBALA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJMULIB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COBALAT
827 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSRPEA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BCRFDOB
282 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJMULIA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BCRFDOA
282 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DFSRPLB
352 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=DFSRPLA
351 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONBALA
827 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSGRFB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSGRFA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRDOLB
278 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MILATMB
158 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRDOLA
300 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MILATMA
158 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COPEVDB
852 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSESTB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSESTA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXRTAFC
843 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXRTAFA
842 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COPEVDA
852 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=QUDEARB
215 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMFSAF
827 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMRFIDB
254 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMRFIDA
254 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CDEUARA
827 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDELTB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TAVELPL
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDELTA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COINLAA
279 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COINLAT

786 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BZCAAAA
428 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=BZCAAAB
428 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXREPLC
392 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXREPLA
343 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=GALACCI
752 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MAFACCA
861 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAC2B
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COGRLMF
817 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSACAB
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COIOLAC
731 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONAAFA
817 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAC2A
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SBSACAR
858 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=INTACCA
365 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=INTACCB
379 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CONIOLA
731 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MRTVARB
775 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RTAVARB
817 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=MRTVARA
775 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SMIMRVF
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RTAVARA
817 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SMIMRVA
862 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAC3B
616 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMCREB
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXAFIIX
248 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTMULTB
846 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=COMCREA
859 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=TTMULTA
724 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRTAVB
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=RJDAC3A
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=ALRTAVA
850 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTACCB
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=FSTACCA
860 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXISRVB
751 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=AXISRVA
753 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMARTVB
251 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=CMARTVA
251 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SRETO2B
259 precios scrappeados
https://fondosonline.com/Information/FundData/GetPriceData?ticker=SRETO2A
193 precios scrappeados

In [5]:
prices

[('MAFRTAR',        close       date
  0    1.70645 2015-01-02
  1    1.70793 2015-01-05
  2    1.70732 2015-01-06
  3    1.71495 2015-01-07
  4    1.71673 2015-01-08
  5    1.72109 2015-01-09
  6    1.72342 2015-01-12
  7    1.72779 2015-01-13
  8    1.72846 2015-01-14
  9    1.72962 2015-01-15
  10   1.73113 2015-01-16
  11   1.73220 2015-01-19
  12   1.73110 2015-01-20
  13   1.73369 2015-01-21
  14   1.73893 2015-01-22
  15   1.74270 2015-01-23
  16   1.74590 2015-01-26
  17   1.75221 2015-01-27
  18   1.75864 2015-01-28
  19   1.76060 2015-01-29
  20   1.76342 2015-01-30
  21   1.76769 2015-02-02
  22   1.77093 2015-02-03
  23   1.77425 2015-02-04
  24   1.77500 2015-02-05
  25   1.77564 2015-02-06
  26   1.77706 2015-02-09
  27   1.77926 2015-02-10
  28   1.78174 2015-02-11
  29   1.78304 2015-02-12
  ..       ...        ...
  832  5.05389 2018-05-30
  833  5.06293 2018-05-31
  834  5.07058 2018-06-01
  835  5.07380 2018-06-04
  836  5.07390 2018-06-05
  837  5.06583 2018-06-06
  838  5.07953 2018-06-07
  839  5.15033 2018-06-08
  840  5.26802 2018-06-11
  841  5.22903 2018-06-12
  842  5.28378 2018-06-13
  843  5.59840 2018-06-14
  844  5.70782 2018-06-15
  845  5.57068 2018-06-18
  846  5.65421 2018-06-19
  847  5.57069 2018-06-21
  848  5.48052 2018-06-22
  849  5.48224 2018-06-25
  850  5.49287 2018-06-26
  851  5.54569 2018-06-27
  852  5.67477 2018-06-28
  853  5.80763 2018-06-29
  854  5.72591 2018-07-02
  855  5.62807 2018-07-03
  856  5.67883 2018-07-04
  857  5.67148 2018-07-05
  858  5.64132 2018-07-06
  859  5.53170 2018-07-10
  860  5.53523 2018-07-11
  861  5.49511 2018-07-12

  [862 rows x 2 columns]), ('TTRTFPB',         close       date
  0     3.07512 2015-01-02
  1     3.07695 2015-01-05
  2     3.07918 2015-01-06
  3     3.09936 2015-01-07
  4     3.10536 2015-01-08
  5     3.10563 2015-01-09
  6     3.10580 2015-01-12
  7     3.10605 2015-01-13
  8     3.10717 2015-01-14
  9     3.11109 2015-01-15
  10    3.10636 2015-01-16
  11    3.10945 2015-01-19
  12    3.11095 2015-01-20
  13    3.11647 2015-01-21
  14    3.11707 2015-01-22
  15    3.12369 2015-01-23
  16    3.12318 2015-01-26
  17    3.12648 2015-01-27
  18    3.12762 2015-01-28
  19    3.12636 2015-01-29
  20    3.13218 2015-01-30
  21    3.13702 2015-02-02
  22    3.14070 2015-02-03
  23    3.14241 2015-02-04
  24    3.14274 2015-02-05
  25    3.14448 2015-02-06
  26    3.14726 2015-02-09
  27    3.15307 2015-02-10
  28    3.15530 2015-02-11
  29    3.16007 2015-02-12
  ..        ...        ...
  822   9.21500 2018-05-30
  823   9.19931 2018-05-31
  824   9.21291 2018-06-01
  825   9.22123 2018-06-04
  826   9.25033 2018-06-05
  827   9.22324 2018-06-06
  828   9.24894 2018-06-07
  829   9.42968 2018-06-08
  830   9.46151 2018-06-11
  831   9.56151 2018-06-12
  832   9.56599 2018-06-13
  833  10.04851 2018-06-14
  834  10.31635 2018-06-15
  835  10.27760 2018-06-18
  836  10.24634 2018-06-19
  837  10.18750 2018-06-21
  838  10.04701 2018-06-22
  839   9.99942 2018-06-25
  840  10.02986 2018-06-26
  841  10.09880 2018-06-27
  842  10.27680 2018-06-28
  843  10.66605 2018-06-29
  844  10.58916 2018-07-02
  845  10.33541 2018-07-03
  846  10.37655 2018-07-04
  847  10.42749 2018-07-05
  848  10.39610 2018-07-06
  849  10.21435 2018-07-10
  850  10.17316 2018-07-11
  851  10.04596 2018-07-12

  [852 rows x 2 columns]), ('MRTAFCB',        close       date
  0    1.77659 2015-01-02
  1    1.77827 2015-01-05
  2    1.78016 2015-01-06
  3    1.78600 2015-01-07
  4    1.78843 2015-01-08
  5    1.78916 2015-01-09
  6    1.78917 2015-01-12
  7    1.78856 2015-01-13
  8    1.78739 2015-01-14
  9    1.79026 2015-01-15
  10   1.79014 2015-01-16
  11   1.79071 2015-01-19
  12   1.79397 2015-01-20
  13   1.79663 2015-01-21
  14   1.79877 2015-01-22
  15   1.80014 2015-01-23
  16   1.79995 2015-01-26
  17   1.80006 2015-01-27
  18   1.80005 2015-01-28
  19   1.79955 2015-01-29
  20   1.79988 2015-01-30
  21   1.80285 2015-02-02
  22   1.80341 2015-02-03
  23   1.80459 2015-02-04
  24   1.80556 2015-02-05
  25   1.80586 2015-02-06
  26   1.80589 2015-02-09
  27   1.81073 2015-02-10
  28   1.81075 2015-02-11
  29   1.81214 2015-02-12
  ..       ...        ...
  833  5.15137 2018-05-30
  834  5.15399 2018-05-31
  835  5.15875 2018-06-01
  836  5.16157 2018-06-04
  837  5.16382 2018-06-05
  838  5.14594 2018-06-06
  839  5.16169 2018-06-07
  840  5.22774 2018-06-08
  841  5.33138 2018-06-11
  842  5.30553 2018-06-12
  843  5.33918 2018-06-13
  844  5.63677 2018-06-14
  845  5.75986 2018-06-15
  846  5.64092 2018-06-18
  847  5.66297 2018-06-19
  848  5.62633 2018-06-21
  849  5.54166 2018-06-22
  850  5.54655 2018-06-25
  851  5.55284 2018-06-26
  852  5.60604 2018-06-27
  853  5.71946 2018-06-28
  854  5.86092 2018-06-29
  855  5.76815 2018-07-02
  856  5.67711 2018-07-03
  857  5.72022 2018-07-04
  858  5.72224 2018-07-05
  859  5.69662 2018-07-06
  860  5.59511 2018-07-10
  861  5.59388 2018-07-11
  862  5.55995 2018-07-12

  [863 rows x 2 columns]), ('TTRTFPA',        close       date
  0    1.50140 2015-01-02
  1    1.50225 2015-01-05
  2    1.50332 2015-01-06
  3    1.51315 2015-01-07
  4    1.51607 2015-01-08
  5    1.51618 2015-01-09
  6    1.51622 2015-01-12
  7    1.51632 2015-01-13
  8    1.51685 2015-01-14
  9    1.51875 2015-01-15
  10   1.51642 2015-01-16
  11   1.51788 2015-01-19
  12   1.51860 2015-01-20
  13   1.52127 2015-01-21
  14   1.52155 2015-01-22
  15   1.52477 2015-01-23
  16   1.52447 2015-01-26
  17   1.52606 2015-01-27
  18   1.52660 2015-01-28
  19   1.52597 2015-01-29
  20   1.52879 2015-01-30
  21   1.53111 2015-02-02
  22   1.53288 2015-02-03
  23   1.53370 2015-02-04
  24   1.53385 2015-02-05
  25   1.53468 2015-02-06
  26   1.53598 2015-02-09
  27   1.53880 2015-02-10
  28   1.53987 2015-02-11
  29   1.54219 2015-02-12
  ..       ...        ...
  822  4.43819 2018-05-30
  823  4.43058 2018-05-31
  824  4.43708 2018-06-01
  825  4.44094 2018-06-04
  826  4.45491 2018-06-05
  827  4.44181 2018-06-06
  828  4.45414 2018-06-07
  829  4.54113 2018-06-08
  830  4.55631 2018-06-11
  831  4.60442 2018-06-12
  832  4.60652 2018-06-13
  833  4.83883 2018-06-14
  834  4.96775 2018-06-15
  835  4.94893 2018-06-18
  836  4.93382 2018-06-19
  837  4.90538 2018-06-21
  838  4.83768 2018-06-22
  839  4.81460 2018-06-25
  840  4.82921 2018-06-26
  841  4.86235 2018-06-27
  842  4.94800 2018-06-28
  843  5.13535 2018-06-29
  844  5.09817 2018-07-02
  845  4.97594 2018-07-03
  846  4.99570 2018-07-04
  847  5.02017 2018-07-05
  848  5.00500 2018-07-06
  849  4.91728 2018-07-10
  850  4.89740 2018-07-11
  851  4.83611 2018-07-12

  [852 rows x 2 columns]), ('MRTAFCA',        close       date
  0    1.76782 2015-01-02
  1    1.76943 2015-01-05
  2    1.77129 2015-01-06
  3    1.77708 2015-01-07
  4    1.77947 2015-01-08
  5    1.78017 2015-01-09
  6    1.78013 2015-01-12
  7    1.77949 2015-01-13
  8    1.77831 2015-01-14
  9    1.78115 2015-01-15
  10   1.78101 2015-01-16
  11   1.78151 2015-01-19
  12   1.78473 2015-01-20
  13   1.78735 2015-01-21
  14   1.78947 2015-01-22
  15   1.79080 2015-01-23
  16   1.79055 2015-01-26
  17   1.79064 2015-01-27
  18   1.79061 2015-01-28
  19   1.79009 2015-01-29
  20   1.79040 2015-01-30
  21   1.79330 2015-02-02
  22   1.79383 2015-02-03
  23   1.79498 2015-02-04
  24   1.79592 2015-02-05
  25   1.79620 2015-02-06
  26   1.79617 2015-02-09
  27   1.80096 2015-02-10
  28   1.80096 2015-02-11
  29   1.80231 2015-02-12
  ..       ...        ...
  833  5.05512 2018-05-30
  834  5.05761 2018-05-31
  835  5.06221 2018-06-01
  836  5.06473 2018-06-04
  837  5.06686 2018-06-05
  838  5.04924 2018-06-06
  839  5.06462 2018-06-07
  840  5.12935 2018-06-08
  841  5.23079 2018-06-11
  842  5.20535 2018-06-12
  843  5.23828 2018-06-13
  844  5.53016 2018-06-14
  845  5.65083 2018-06-15
  846  5.53388 2018-06-18
  847  5.55543 2018-06-19
  848  5.51931 2018-06-21
  849  5.43617 2018-06-22
  850  5.44071 2018-06-25
  851  5.44678 2018-06-26
  852  5.49889 2018-06-27
  853  5.61005 2018-06-28
  854  5.74871 2018-06-29
  855  5.65745 2018-07-02
  856  5.56808 2018-07-03
  857  5.61027 2018-07-04
  858  5.61216 2018-07-05
  859  5.58694 2018-07-06
  860  5.48705 2018-07-10
  861  5.48575 2018-07-11
  862  5.45240 2018-07-12

  [863 rows x 2 columns]), ('FSTRMIA',        close       date
  0    1.25588 2015-07-08
  1    1.25849 2015-07-10
  2    1.26633 2015-07-13
  3    1.26504 2015-07-14
  4    1.26594 2015-07-15
  5    1.27135 2015-07-16
  6    1.27704 2015-07-17
  7    1.28100 2015-07-20
  8    1.28307 2015-07-21
  9    1.29306 2015-07-22
  10   1.29500 2015-07-23
  11   1.29575 2015-07-24
  12   1.29674 2015-07-27
  13   1.30565 2015-07-28
  14   1.30627 2015-07-29
  15   1.30699 2015-07-30
  16   1.30768 2015-07-31
  17   1.30815 2015-08-03
  18   1.30956 2015-08-04
  19   1.31158 2015-08-05
  20   1.31578 2015-08-06
  21   1.31931 2015-08-07
  22   1.32398 2015-08-10
  23   1.32463 2015-08-11
  24   1.32176 2015-08-12
  25   1.31772 2015-08-13
  26   1.31576 2015-08-14
  27   1.31565 2015-08-18
  28   1.32510 2015-08-19
  29   1.32859 2015-08-20
  ..       ...        ...
  702  3.53553 2018-05-30
  703  3.54087 2018-05-31
  704  3.54271 2018-06-01
  705  3.54251 2018-06-04
  706  3.53643 2018-06-05
  707  3.53409 2018-06-06
  708  3.54781 2018-06-07
  709  3.58384 2018-06-08
  710  3.65492 2018-06-11
  711  3.65239 2018-06-12
  712  3.68575 2018-06-13
  713  3.84871 2018-06-14
  714  3.95007 2018-06-15
  715  3.88838 2018-06-18
  716  3.90551 2018-06-19
  717  3.90231 2018-06-21
  718  3.84848 2018-06-22
  719  3.82656 2018-06-25
  720  3.82007 2018-06-26
  721  3.83477 2018-06-27
  722  3.90326 2018-06-28
  723  3.99128 2018-06-29
  724  3.96684 2018-07-02
  725  3.87574 2018-07-03
  726  3.88101 2018-07-04
  727  3.90159 2018-07-05
  728  3.88248 2018-07-06
  729  3.82108 2018-07-10
  730  3.80341 2018-07-11
  731  3.78802 2018-07-12

  [732 rows x 2 columns]), ('CONESTC',        close       date
  0    1.00000 2016-02-18
  1    1.00179 2016-02-19
  2    1.00307 2016-02-22
  3    1.00405 2016-02-23
  4    1.00550 2016-02-24
  5    1.00662 2016-02-25
  6    1.00783 2016-02-26
  7    1.00827 2016-02-29
  8    1.00895 2016-03-01
  9    1.00966 2016-03-02
  10   1.01092 2016-03-03
  11   1.01242 2016-03-04
  12   1.01396 2016-03-07
  13   1.01460 2016-03-08
  14   1.01554 2016-03-09
  15   1.01671 2016-03-10
  16   1.01837 2016-03-11
  17   1.02113 2016-03-14
  18   1.02140 2016-03-15
  19   1.02225 2016-03-16
  20   1.02372 2016-03-17
  21   1.02515 2016-03-18
  22   1.02797 2016-03-21
  23   1.02640 2016-03-22
  24   1.02861 2016-03-23
  25   1.03617 2016-03-29
  26   1.03621 2016-03-30
  27   1.03957 2016-03-31
  28   1.04394 2016-04-04
  29   1.04366 2016-04-05
  ..       ...        ...
  502  1.85353 2018-05-24
  503  1.86230 2018-05-30
  504  1.85553 2018-05-31
  505  1.85525 2018-06-01
  506  1.86212 2018-06-04
  507  1.87363 2018-06-05
  508  1.87075 2018-06-06
  509  1.87994 2018-06-07
  510  1.91199 2018-06-08
  511  1.94304 2018-06-11
  512  1.93418 2018-06-12
  513  1.94261 2018-06-13
  514  2.05422 2018-06-14
  515  2.08667 2018-06-15
  516  2.03494 2018-06-18
  517  2.03144 2018-06-19
  518  2.04926 2018-06-21
  519  2.03615 2018-06-22
  520  2.03943 2018-06-25
  521  2.03936 2018-06-26
  522  2.03819 2018-06-27
  523  2.03960 2018-06-28
  524  2.04406 2018-06-29
  525  2.02038 2018-07-03
  526  2.01708 2018-07-04
  527  2.05059 2018-07-05
  528  2.06258 2018-07-06
  529  2.06077 2018-07-10
  530  2.04771 2018-07-11
  531  2.05416 2018-07-12

  [532 rows x 2 columns]), ('COMUSAB',         close       date
  0    1.884137 2015-01-02
  1    1.886382 2015-01-05
  2    1.891308 2015-01-06
  3    1.900373 2015-01-07
  4    1.899703 2015-01-08
  5    1.906083 2015-01-09
  6    1.904580 2015-01-12
  7    1.906940 2015-01-13
  8    1.910584 2015-01-14
  9    1.914626 2015-01-15
  10   1.916750 2015-01-16
  11   1.923884 2015-01-19
  12   1.922558 2015-01-20
  13   1.918400 2015-01-21
  14   1.922472 2015-01-22
  15   1.925932 2015-01-23
  16   1.927105 2015-01-26
  17   1.928394 2015-01-27
  18   1.937553 2015-01-28
  19   1.934015 2015-01-29
  20   1.938984 2015-01-30
  21   1.941779 2015-02-02
  22   1.944890 2015-02-03
  23   1.958570 2015-02-04
  24   1.958615 2015-02-05
  25   1.967027 2015-02-06
  26   1.970126 2015-02-09
  27   1.973730 2015-02-10
  28   1.983762 2015-02-11
  29   1.982130 2015-02-12
  ..        ...        ...
  829  6.100400 2018-05-30
  830  6.063628 2018-05-31
  831  6.073015 2018-06-01
  832  6.103003 2018-06-04
  833  6.115687 2018-06-05
  834  6.102724 2018-06-06
  835  6.116535 2018-06-07
  836  6.196867 2018-06-08
  837  6.350613 2018-06-11
  838  6.271452 2018-06-12
  839  6.320415 2018-06-13
  840  6.690964 2018-06-14
  841  6.819511 2018-06-15
  842  6.664024 2018-06-18
  843  6.670614 2018-06-19
  844  6.672128 2018-06-21
  845  6.559563 2018-06-22
  846  6.564835 2018-06-25
  847  6.552623 2018-06-26
  848  6.597878 2018-06-27
  849  6.694767 2018-06-28
  850  6.861379 2018-06-29
  851  6.719206 2018-07-02
  852  6.607753 2018-07-03
  853  6.706708 2018-07-04
  854  6.710091 2018-07-05
  855  6.690376 2018-07-06
  856  6.558271 2018-07-10
  857  6.553616 2018-07-11
  858  6.511717 2018-07-12

  [859 rows x 2 columns]), ('COMUSAA',        close       date
  0    1.78081 2015-01-02
  1    1.78287 2015-01-05
  2    1.78746 2015-01-06
  3    1.79596 2015-01-07
  4    1.79527 2015-01-08
  5    1.80123 2015-01-09
  6    1.79974 2015-01-12
  7    1.80191 2015-01-13
  8    1.80529 2015-01-14
  9    1.80904 2015-01-15
  10   1.81098 2015-01-16
  11   1.81766 2015-01-19
  12   1.81634 2015-01-20
  13   1.81234 2015-01-21
  14   1.81612 2015-01-22
  15   1.81933 2015-01-23
  16   1.82037 2015-01-26
  17   1.82152 2015-01-27
  18   1.83011 2015-01-28
  19   1.82670 2015-01-29
  20   1.83132 2015-01-30
  21   1.83390 2015-02-02
  22   1.83677 2015-02-03
  23   1.84962 2015-02-04
  24   1.84960 2015-02-05
  25   1.85747 2015-02-06
  26   1.86033 2015-02-09
  27   1.86367 2015-02-10
  28   1.87307 2015-02-11
  29   1.87147 2015-02-12
  ..       ...        ...
  829  5.59800 2018-05-30
  830  5.56407 2018-05-31
  831  5.57251 2018-06-01
  832  5.59984 2018-06-04
  833  5.61130 2018-06-05
  834  5.59922 2018-06-06
  835  5.61171 2018-06-07
  836  5.68522 2018-06-08
  837  5.82608 2018-06-11
  838  5.75327 2018-06-12
  839  5.79800 2018-06-13
  840  6.13772 2018-06-14
  841  6.25544 2018-06-15
  842  6.11261 2018-06-18
  843  6.11845 2018-06-19
  844  6.11964 2018-06-21
  845  6.01620 2018-06-22
  846  6.02084 2018-06-25
  847  6.00944 2018-06-26
  848  6.05075 2018-06-27
  849  6.13940 2018-06-28
  850  6.29199 2018-06-29
  851  6.16141 2018-07-02
  852  6.05902 2018-07-03
  853  6.14955 2018-07-04
  854  6.15245 2018-07-05
  855  6.13418 2018-07-06
  856  6.01286 2018-07-10
  857  6.00839 2018-07-11
  858  5.96978 2018-07-12

  [859 rows x 2 columns]), ('ALRTAMA',        close       date
  0    1.75192 2015-01-02
  1    1.74261 2015-01-05
  2    1.74543 2015-01-06
  3    1.75104 2015-01-07
  4    1.75332 2015-01-08
  5    1.75393 2015-01-09
  6    1.75481 2015-01-12
  7    1.75609 2015-01-13
  8    1.75507 2015-01-14
  9    1.75710 2015-01-15
  10   1.75832 2015-01-16
  11   1.75994 2015-01-19
  12   1.76318 2015-01-20
  13   1.76637 2015-01-21
  14   1.77080 2015-01-22
  15   1.77217 2015-01-23
  16   1.77274 2015-01-26
  17   1.77405 2015-01-27
  18   1.77568 2015-01-28
  19   1.77579 2015-01-29
  20   1.77862 2015-01-30
  21   1.78106 2015-02-02
  22   1.78317 2015-02-03
  23   1.78614 2015-02-04
  24   1.78794 2015-02-05
  25   1.78850 2015-02-06
  26   1.79133 2015-02-09
  27   1.79385 2015-02-10
  28   1.79506 2015-02-11
  29   1.79921 2015-02-12
  ..       ...        ...
  825  4.17874 2018-05-30
  826  4.18307 2018-05-31
  827  4.18666 2018-06-01
  828  4.18682 2018-06-04
  829  4.18590 2018-06-05
  830  4.17637 2018-06-06
  831  4.18903 2018-06-07
  832  4.23626 2018-06-08
  833  4.33419 2018-06-11
  834  4.29865 2018-06-12
  835  4.33418 2018-06-13
  836  4.57233 2018-06-14
  837  4.66253 2018-06-15
  838  4.55633 2018-06-18
  839  4.58449 2018-06-19
  840  4.54704 2018-06-21
  841  4.47968 2018-06-22
  842  4.48788 2018-06-25
  843  4.49318 2018-06-26
  844  4.54113 2018-06-27
  845  4.63554 2018-06-28
  846  4.73543 2018-06-29
  847  4.66020 2018-07-02
  848  4.59094 2018-07-03
  849  4.64253 2018-07-04
  850  4.64205 2018-07-05
  851  4.62286 2018-07-06
  852  4.54948 2018-07-10
  853  4.55377 2018-07-11
  854  4.53041 2018-07-12

  [855 rows x 2 columns]), ('ALRTAMB',        close       date
  0    1.75183 2015-01-02
  1    1.74252 2015-01-05
  2    1.74534 2015-01-06
  3    1.75095 2015-01-07
  4    1.75322 2015-01-08
  5    1.75384 2015-01-09
  6    1.75471 2015-01-12
  7    1.75600 2015-01-13
  8    1.75498 2015-01-14
  9    1.75701 2015-01-15
  10   1.75823 2015-01-16
  11   1.75984 2015-01-19
  12   1.76309 2015-01-20
  13   1.76627 2015-01-21
  14   1.77071 2015-01-22
  15   1.77208 2015-01-23
  16   1.77264 2015-01-26
  17   1.77395 2015-01-27
  18   1.77559 2015-01-28
  19   1.77569 2015-01-29
  20   1.77853 2015-01-30
  21   1.78097 2015-02-02
  22   1.78307 2015-02-03
  23   1.78605 2015-02-04
  24   1.78785 2015-02-05
  25   1.78840 2015-02-06
  26   1.79124 2015-02-09
  27   1.79375 2015-02-10
  28   1.79497 2015-02-11
  29   1.79911 2015-02-12
  ..       ...        ...
  825  4.17847 2018-05-30
  826  4.18280 2018-05-31
  827  4.18639 2018-06-01
  828  4.18655 2018-06-04
  829  4.18563 2018-06-05
  830  4.17610 2018-06-06
  831  4.18876 2018-06-07
  832  4.23598 2018-06-08
  833  4.33391 2018-06-11
  834  4.29837 2018-06-12
  835  4.33390 2018-06-13
  836  4.57203 2018-06-14
  837  4.66223 2018-06-15
  838  4.55604 2018-06-18
  839  4.58419 2018-06-19
  840  4.54675 2018-06-21
  841  4.47939 2018-06-22
  842  4.48759 2018-06-25
  843  4.49289 2018-06-26
  844  4.54084 2018-06-27
  845  4.63525 2018-06-28
  846  4.73512 2018-06-29
  847  4.65990 2018-07-02
  848  4.59065 2018-07-03
  849  4.64223 2018-07-04
  850  4.64175 2018-07-05
  851  4.62256 2018-07-06
  852  4.54919 2018-07-10
  853  4.55348 2018-07-11
  854  4.53012 2018-07-12

  [855 rows x 2 columns]), ('MAFCOAA',        close       date
  0    2.95700 2015-01-02
  1    2.98160 2015-01-05
  2    2.95520 2015-01-06
  3    2.97390 2015-01-07
  4    2.97300 2015-01-08
  5    2.97650 2015-01-09
  6    2.97590 2015-01-12
  7    2.98330 2015-01-13
  8    3.02000 2015-01-14
  9    3.03460 2015-01-15
  10   3.03560 2015-01-16
  11   3.04130 2015-01-19
  12   3.06420 2015-01-20
  13   3.05620 2015-01-21
  14   3.07020 2015-01-22
  15   3.06600 2015-01-23
  16   3.06350 2015-01-26
  17   3.05770 2015-01-27
  18   3.05980 2015-01-28
  19   3.05660 2015-01-29
  20   3.05930 2015-01-30
  21   3.07260 2015-02-02
  22   3.08610 2015-02-03
  23   3.07870 2015-02-04
  24   3.08100 2015-02-05
  25   3.09960 2015-02-06
  26   3.09750 2015-02-09
  27   3.10320 2015-02-10
  28   3.09990 2015-02-11
  29   3.08370 2015-02-12
  ..       ...        ...
  832  8.00098 2018-05-30
  833  7.98693 2018-05-31
  834  7.98783 2018-06-01
  835  7.94386 2018-06-04
  836  7.95119 2018-06-05
  837  7.94009 2018-06-06
  838  7.96900 2018-06-07
  839  8.07663 2018-06-08
  840  8.27863 2018-06-11
  841  8.19891 2018-06-12
  842  8.26824 2018-06-13
  843  8.79386 2018-06-14
  844  8.97796 2018-06-15
  845  8.73587 2018-06-18
  846  8.81031 2018-06-19
  847  8.66715 2018-06-21
  848  8.51143 2018-06-22
  849  8.51865 2018-06-25
  850  8.50703 2018-06-26
  851  8.60358 2018-06-27
  852  8.80344 2018-06-28
  853  9.02042 2018-06-29
  854  8.84400 2018-07-02
  855  8.68048 2018-07-03
  856  8.73343 2018-07-04
  857  8.74710 2018-07-05
  858  8.65876 2018-07-06
  859  8.49653 2018-07-10
  860  8.50902 2018-07-11
  861  8.45979 2018-07-12

  [862 rows x 2 columns]), ('COHCOBB',        close       date
  0    1.15353 2015-07-27

In [6]:
import json
import requests
import pandas as pd

def extract(url):
    r = requests.get(url)
    records = json.loads(r.text)
funds = extract('https://fondosonline.com/Information/FundData/GetPriceData?ticker=0')
df = pd.DataFrame.from_records(funds)
#df is None

TypeError: object of type 'NoneType' has no len()